\--- X-opencode-#{@step+1} ---
- if @step == 0
  La somme de tous les nombres entre 1 et 87, inclusivement.
- elsif @step == 1
  La date (YYYY-MM-DD) de la publication de la spec HTML 2.0.
- elsif @step == 2
  Le nom de la constante en PHP qui désigne des « deux points » doubles.
- elsif @step == 3
  Le caractère Unicode U+2603.
- elsif @step == 4
  Le hash du commit de Guido van Rossum dans CPython du 10:33:38 2011 -0700.
- elsif @step == 5
  En Javascript, le résultat de : 1 + - + + + - + 1
