!!!
%html
  %head{ :prefix => "og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#" }
    %meta{ :charset => "UTF-8" }
    %title OpenCode Québec
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "/css/screen.css?v=20121025" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Hammersmith+One&v" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&v1" }
    %link{ :type => "image/png", :rel => "shortcut icon", :href => "/favicon.png" }
    %meta{ :name => :viewport, :content => "width=600" }
    %meta{ :name => "og:title", :content => "OpenCode" }
    %meta{ :name => "og:description", :content => "An OpenCode is a free, modest, informal and friendly event made by and for developers and programmers." }
    %meta{ :name => "og:url", :content => "http://opencode.ca/en" }
    %meta{ :name => "og:image", :content => "https://secure.gravatar.com/avatar/208eb5b4a3e5b2412de1d6eb5c0d37b3?s=200" }
    <script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-24416048-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
  %body
    %div#lang
      %a{ :href => "/", :hreflang => "fr" } Voir cette page en français
    #wrap-outer
      %section#wrap
        %h1.group
          %a{ :href => "/en" }
            OpenCode
        %p.subtitle <small>Next edition:</small> <em>to be determined</em> — <a href="#talk-proposal">Submit a talk! (in french)</a>
        -#%p.subtitle <small>Next edition:</small> <em>Tuesday December 18, 2012 — 6pm-11pm</em>
        %h2 The concept
        %p An OpenCode is a free, modest, informal and friendly event made by and for developers and programmers. <strong class="important">If your job doesn’t involve writing code, you probably won’t find anything for you there.</strong> Marketing, business development, SEO, social media people… this event is not for you!
        %p.small The evening is split in two parts: <em>Talks</em> and <em>discussions</em>. Short (15-20 minutes) talks about programming-related topics (<em>ie.</em> show us code!). Then, people gather together to discuss and share code lines, concepts and ideas.
        %p.small During the evening, a challenge is given to the audience — an algorithm to write, an easter egg to find, a puzzle to solve, etc. A little friendly competition never hurts!

        %h2 Newsletter <span>(in french)</span>
        %p To receive updates about OpenCode and the next events, subscribe to our newsletter. <small>We will never SPAM you. Ever.</small>

        %form#newsletter{ :action => "http://opencode.us2.list-manage.com/subscribe/post?u=6c1136b6511bbc574dae07c1d&amp;id=bb09df3db6", :method => "post" }
          %p.group
            %input{ :type => "email", :value => "", :name => "EMAIL", :placeholder => "Email address", :required => :required }
            %button{ :type => "submit", :value => "Subscribe", :name => "subscribe" } Subscribe

        -#%h2 Talks <span>(in french)</span>

        %h2 Location
        %p Events are held at <a href="https://abri.co/?locale=en">Abri.Co</a>, located at <a href="http://g.co/maps/unsb">335 Rue Saint-Joseph Est #500</a> in Quebec City. Wi-fi and electricity are provided. You can bring anything that makes you more comfortable (food, drinks, etc.).

        -#%h2 Register
        -#%p.signup To confirm that you are attending, please <a href="http://opencodeqc-8.eventbrite.ca">register on EventBrite</a>.

        %h2#talk-proposal Submit a talk <span>(in french)</span>
        %p.small If you are motivated and you want to share your experience with a technology, a programming language, a library, a software or something else, you can submit a talk for an upcoming edition by sending an email (see the <em>Information</em> section) or via <a href="https://twitter.com/opencodeqc">Twitter</a>. <strong>No need to be an expert, passion is the key!</strong>

        %h2 Information
        %p.small For more information, you can write to <code>info@opencode.ca</code>. You can also follow us on Twitter as <a href="https://twitter.com/opencodeqc">@opencodeqc</a>.

        .past-talks
          %h2 Past editions

          %h3#opencode-8 Eigth edition (December 18 2012)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/rafBM", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/rafBM" }
                    Rafaël Blais-Masson
                — <em>HTTP Caching</em>
                %a.url{ :href => "https://speakerdeck.com/rafbm/http-caching-basics" } slides
                %a.url{ :href => "https://github.com/rafBM/opencode-httpcaching" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/remi", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/remi" }
                    Rémi Prévost
                — Introduction à RSpec
                %a.url{ :href => "https://speakerdeck.com/remi/introduction-a-rspec" } slides
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/simonprev", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/simonprev" }
                    Simon Prévost
                — Introduction à Vim
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/jeansebtr", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/jeansebtr" }
                    Jean-Sébastien Tremblay
                — Node.js + Objective C

          %h3#opencode-7 Seventh edition (October 30 2012)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/jmlacroix", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/jmlacroix" }
                    Jean-Michel Lacroix
                — <em>Crash Course</em> sur les sockets
                %a.url{ :href => " https://speakerdeck.com/jmlacroix/crash-course-sur-les-sockets" } slides
                %a.url{ :href => "https://gist.github.com/3982311" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/AntoineLeclair", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/AntoineLeclair" }
                    Antoine Leclair
                — AppFog
                %a.url{ :href => "http://www.rvl.io/antoineleclair/appfog_opencode_20121030" } slides
                %a.url{ :href => "https://github.com/antoineleclair/OpenCode20121030" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/trochette", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/trochette" }
                    Tommy Rochette
                — <em>Design patterns</em> avancés avec Angular.js
                %a.url{ :href => "http://trochette.github.com/Angular-Design-Patterns-Best-Practices" } slides
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/pothibo", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/pothibo" }
                    Pier-Olivier Thibault
                — <em>Responsive AJAX</em>
                %a.url{ :href => "http://pothibo.github.com/open-code-ajax" } slides
                %a.url{ :href => "https://github.com/pothibo/open-code-ajax" } code

          %h3#opencode-6 Sixth edition (September 11 2012)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/f_bernier", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/f_bernier" }
                    François Bernier
                — <em>Actor-based concurrency</em> et <em>multithreading</em> avec Celluloid
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/JimmyBourassa", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/JimmyBourassa" }
                    Jimmy Bourassa
                — <em>Computer Science 101</em> pour web geeks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/gcauchon", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/gcauchon" }
                    Guillaume Cauchon
                — Node.js <em>realtime</em> avec Socket.IO
                %a.url{ :href => "http://prezi.com/xw1f1sd_xvi4/opencode6-node-socketio-realtime" } slides
                %a.url{ :href => "https://github.com/gcauchon/watcher" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/JP_Sirois", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/JP_Sirois" }
                    Jean-Philippe Sirois
                — Gestion d’environnements avec Chef et Vagrant
                %a.url{ :href => "https://speakerdeck.com/u/jpsirois/p/gestion-denvironnement-avec-chef-et-vagrant" } slides

          %h3#opencode-5 Fifth edition (July 17 2012)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/jpbougie", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/jpbougie" }
                    Jean-Philippe Bougie
                — D3.js
                %a.url{ :href => "https://github.com/jpbougie/node-ocd3" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/bechhun", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/bechhun" }
                    Bernard Chhun
                — jQuery vs Backbone.js vs AngularJS
                %a.url{ :href => "https://github.com/bchhun/opencodeqc-angularjs" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/EtienneLem", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/EtienneLem" }
                    Étienne Lemay
                — Animations CSS3
                %a.url{ :href => "https://github.com/EtienneLem/opencode-css-animations" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/remi", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/remi" }
                    Rémi Prévost
                — Her
                %a.url{ :href => "https://speakerdeck.com/u/remi/p/her" } slides
                %a.url{ :href => "https://github.com/remiprev/opencode-her" } code

          %h3#opencode-4 Fourth edition (May 10 2012)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/simonprev", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/simonprev" }
                    Simon Prévost
                — Redis
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/JeanSebTr", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/JeanSebTr" }
                    Jean-Sébastien Tremblay
                — Amazon EC2
                %a.url{ :href => "https://github.com/JeanSebTr/opencode-ec2" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/amelieturgeon", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/amelieturgeon" }
                    Amélie Turgeon
                — Les graphes

          %h3#opencode-3 Third edition (March 8 2012)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/mgagnon", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/mgagnon" }
                    Martin Gagnon
                — Comment écrire du code sans faille dans un langage inconnu
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/nGarneau", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/nGarneau" }
                    Nicolas Garneau
                — Cassandra, Hadoop &amp; Pig
                %a.url{ :href => "https://github.com/ngarneau/opencode" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/renaudl", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/renaudl" }
                    Léo Renaud-Allaire
                — Browser’s File Reader API
                %a.url{ :href => "https://github.com/renaudleo/file_api_demos" } code

          %h3#opencode-2 Second edition (December 1<sup>st</sup> 2011)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/rafBM", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/rafBM" }
                    Rafaël Blais Masson
                — DOM… avec pas de jQuery!
                %a.url{ :href => "https://github.com/rafBM/diy-dom-library" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/jmlacroix", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/jmlacroix" }
                    Jean-Michel Lacroix
                — Introduction à la programmation fonctionnelle avec Haskell
                %a.url{ :href => "https://gist.github.com/1425499" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/AntoineLeclair", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/AntoineLeclair" }
                    Antoine Leclair
                — Les tests
                %a.url{ :href => "https://github.com/antoineleclair/OpenCode20111201" } code
            %li.group
              %img{ :src => "http://gregsadetsky.com/public/img/greg-sadetsky.png", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "http://gregsadetsky.com/" }
                    Greg Sadetsky
                — PiCloud

          %h3#opencode-1 First edition (September 29 2011)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/charles_demers", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/charles_demers" }
                    Charles Demers
                — Javascript OOP
                %a.url{ :href => "https://github.com/charlesdemers/opencode-slides" } slides
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/garno", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/garno" }
                    Samuel Garneau
                — Démonstration Rack Middleware
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/alain_gilbert", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/alain_gilbert" }
                    Alain Gilbert
                — HTML5 : Canvas API &amp; animations
                %a.url{ :href => "https://github.com/alaingilbert/presentation-html5" } code

          %h3#opencode-beta Beta edition (July 28 2011)
          %ul.talks
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/JimmyBourassa", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/JimmyBourassa" }
                    Jimmy Bourassa
                — Node.js
                %a.url{ :href => "https://github.com/jbourassa/opencode-node-demo" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/bechhun", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/bechhun" }
                    Bernard Chhun
                — Django &amp; Buildout
                %a.url{ :href => "https://github.com/bchhun/opencode-talk" } code
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/frederickdubois", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/frederickdubois" }
                    Frédérick Dubois
                — Amazon SES
            %li.group
              %img{ :src => "http://twitter.com/api/users/profile_image/remi", :width => "16", :height => "16" }
              %span
                %strong
                  %a{ :href => "https://twitter.com/remi" }
                    Rémi Prévost
                — Haml &amp; Sass
                %a.url{ :href => "https://speakerdeck.com/u/remi/p/haml-sass-en-10-minutes-faciles" } slides

        %hr
        %footer
          OpenCode is an event organized during the free time of <a href="https://twitter.com/JimmyBourassa">Jimmy Bourassa</a>, <a href="https://twitter.com/frederickdubois">Frédérick Dubois</a>, <a href="https://twitter.com/garno">Samuel Garneau</a> and <a href="https://twitter.com/remi">Rémi Prévost</a>. Its purpose is to help the growth and friendliness of Quebec’s developer community.
