%h2 Le concept
%p Un OpenCode est un évènement sans prétention, amical et informel qui s’adresse aux développeurs et programmeurs. <strong class="important">Si votre métier ne consiste pas à écrire du code, vous n’y trouverez probablement pas votre compte.</strong> Gens de marketing, de développement des affaires, de SEO, de médias sociaux… cet évènement n’est pas pour vous!
%p.small La soirée se déroule en trois parties : <em>Présentations</em>, <em>ateliers</em> et <em>code</em>. Courtes présentations de 15-20 minutes sur des sujets reliés à la programmation (<em>ie.</em> montrez-nous du code!). Ensuite, ateliers thématiques menés par les présentateurs pour approfondir leur sujet. Par la suite, les participants peuvent discuter et échanger lignes de code, concepts et idées jusqu’à tard le soir…

%h2 Les présentations
%ul.talks
  %li.group
    %img{ :src => "http://img.tweetimag.es/i/rafbm_m", :width => "16", :height => "16" }
    %span
      %strong
        %a{ :href => "https://twitter.com/rafBM" }
          Rafaël Blais Masson
      — DOM… avec pas de jQuery!
  %li.group
    %img{ :src => "http://img.tweetimag.es/i/jmlacroix_m", :width => "16", :height => "16" }
    %span
      %strong
        %a{ :href => "https://twitter.com/jmlacroix" }
          Jean-Michel Lacroix
      — Introduction à la programmation fonctionnelle avec Haskell
  %li.group
    %img{ :src => "http://img.tweetimag.es/i/antoineleclair_m", :width => "16", :height => "16" }
    %span
      %strong
        %a{ :href => "https://twitter.com/AntoineLeclair" }
          Antoine Leclair
      — Les tests
  %li.group
    %img{ :src => "http://gregsadetsky.com/public/img/greg-sadetsky.png", :width => "16", :height => "16" }
    %span
      %strong
        %a{ :href => "http://gregsadetsky.com/" }
          Greg Sadetsky
      — PiCloud

%h2 L’endroit
%p Cet évènement se tiendra à l’<a href="http://abri.co/">Abri.Co</a>, au <a href="http://g.co/maps/unsb">335 Rue Saint-Joseph Est #500</a>, à Québec. Wi-fi et électricité fournie. Vous pouvez amener des éléments nécessaires à votre confort (nourriture, breuvages, etc.).

%h2 Inscription
%p Les inscriptions seront ouvertes le 17 novembre à midi via <a href="http://opencode-2.eventbrite.com">EventBrite</a>.

%h2 Proposer une présentation
%p.small Si vous êtes motivés et que vous désirez partager avec la communauté votre expérience avec une technologie, un langage de programmation, une librairie, un logiciel ou autres, vous pouvez vous proposer comme présentateur pour une prochaine édition en communiquant par courriel (voir la section <em>Informations</em>) ou via <a href="https://twitter.com/opencodeqc">Twitter</a>. Pas besoin d’être un expert, simplement d’être passionné!

%h2 Informations
%p.small Pour plus d’informations, vous pouvez écrire à <code>info</code>, suivi du symbole habituel puis du nom de domaine actuel.

.past-talks
  %h2 Éditions passées

  %h3 Première édition (29 septembre 2011)
  %ul.talks
    %li.group
      %img{ :src => "http://img.tweetimag.es/i/charles_demers_m", :width => "16", :height => "16" }
      %span
        %strong
          %a{ :href => "https://twitter.com/charles_demers" }
            Charles Demers
        — Javascript OOP
    %li.group
      %img{ :src => "http://img.tweetimag.es/i/garno_m", :width => "16", :height => "16" }
      %span
        %strong
          %a{ :href => "https://twitter.com/garno" }
            Samuel Garneau
        — Démonstration Rack Middleware
    %li.group
      %img{ :src => "http://img.tweetimag.es/i/alain_gilbert_m", :width => "16", :height => "16" }
      %span
        %strong
          %a{ :href => "https://twitter.com/alain_gilbert" }
            Alain Gilbert
        — HTML5 : Canvas API &amp; animations

  %h3 Édition bêta (28 juillet 2011)
  %ul.talks
    %li.group
      %img{ :src => "http://img.tweetimag.es/i/jimmybourassa_m", :width => "16", :height => "16" }
      %span
        %strong
          %a{ :href => "https://twitter.com/JimmyBourassa" }
            Jimmy Bourassa
        — Node.js
    %li.group
      %img{ :src => "http://img.tweetimag.es/i/bernardchhun_m", :width => "16", :height => "16" }
      %span
        %strong
          %a{ :href => "https://twitter.com/bernardchhun" }
            Bernard Chhun
        — Django &amp; Buildout
    %li.group
      %img{ :src => "http://img.tweetimag.es/i/frederickdubois_m", :width => "16", :height => "16" }
      %span
        %strong
          %a{ :href => "https://twitter.com/frederickdubois" }
            Frédérick Dubois
        — Amazon SES
    %li.group
      %img{ :src => "http://img.tweetimag.es/i/remi_m", :width => "16", :height => "16" }
      %span
        %strong
          %a{ :href => "https://twitter.com/remi" }
            Rémi Prévost
        — Haml &amp; Sass

%hr
%footer
  OpenCode est un évènement organisé dans les temps libres de <a href="https://twitter.com/JimmyBourassa">Jimmy Bourassa</a>, <a href="https://twitter.com/frederickdubois">Frédérick Dubois</a>, <a href="https://twitter.com/garno">Samuel Garneau</a> et <a href="https://twitter.com/remi">Rémi Prévost</a>, dans le but de permettre à la communauté de développeurs de Québec de s’épanouir. Oui, il y a un <em>easter egg</em>.
