%h2 Le concept
%p Un OpenCode est un évènement sans prétention, amical et informel qui s’adresse aux développeurs et programmeurs. <strong class="important">Si votre métier ne consiste pas à écrire du code, vous n’y trouverez probablement pas votre compte.</strong> Gens de marketing, de développement des affaires, de SEO, de médias sociaux… cet évènement n’est pas pour vous!
%p.small La soirée se déroule en trois parties : <em>Présentations</em>, <em>discussions</em> et <em>code</em>. Courtes présentations de 10 minutes sur des sujets reliés à la programmation (<em>ie.</em> montrez votre code!). Ensuite, discussion ouverte sur les sujets abordés précédemment. Pour terminer, ceux qui le désirent peuvent rester pour mettre tout ça en pratique.

%h2 Les présentations
%ul.talks
  %li.group
    %img{ :src => "https://si0.twimg.com/profile_images/1191193422/128889640932_reasonably_small.jpeg", :width => "16", :height => "16" }
    %span
      %strong
        Jimmy Bourassa
      — Node.js
  %li.group
    %img{ :src => "https://si0.twimg.com/profile_images/1258756652/square-patio_reasonably_small.jpg", :width => "16", :height => "16" }
    %span
      %strong
        Frédérick Dubois
      — Amazon SES
  %li.group
    %img{ :src => "https://si0.twimg.com/profile_images/1384231529/remi_reasonably_small.jpg", :width => "16", :height => "16" }
    %span
      %strong
        Rémi Prévost
      — Haml &amp; Sass
  %li.note
    %p La liste des présentations pourrait changer d’ici le 28 juillet.

%h2 L’endroit
%p Le premier évènement se tiendra chez Mirego, au <a href="http://maps.google.ca/maps?f=q&hl=fr&q=2327+Boulevard+du+Versant+Nord,+QC+G1N+4G2">2327 Boulevard du Versant-Nord</a>, à Québec. Wi-fi et électricité fournie. Vous pouvez amener des éléments nécessaires à votre confort (nourriture, etc.).

%h2 Inscription
%p
  Vous êtes intéressés par ces sujets, vous êtes développeur et vous désirez participer à cette première édition? Inscrivez-vous via EventBrite. Les places sont limitées.
%p.register.group
  %a{ :href => "http://opencode.eventbrite.com/" } S’inscrire sur EventBrite

%hr
%footer
  OpenCode est un évènement organisé dans les temps libres de <a href="https://twitter.com/JimmyBourassa">Jimmy Bourassa</a>, <a href="https://twitter.com/frederickdubois">Frédérick Dubois</a>, <a href="https://twitter.com/garno">Samuel Garneau</a> et <a href="https://twitter.com/remi">Rémi Prévost</a>, dans le but de permettre à la communauté de développeurs de Québec de s’épanouir. Oui, il y a un <em>easter egg</em>.
