%h2 Le concept
%p Un OpenCode est un évènement sans prétention, amical et informel qui s’adresse aux développeurs et programmeurs. <strong class="important">Si votre métier ne consiste pas à écrire du code, vous n’y trouverez probablement pas votre compte.</strong> Gens de marketing, de développement des affaires, de SEO, de médias sociaux… cet évènement n’est pas pour vous!
%p.small La soirée se déroule en trois parties : <em>Présentations</em>, <em>discussions</em> et <em>code</em>. Courtes présentations de 15-20 minutes sur des sujets reliés à la programmation (<em>ie.</em> montrez votre code!). Ensuite, discussions thématiques en groupes d’intérêt combinant échanges de concepts, d’idées et de lignes de code.

%h2 Les présentations
%ul.talks
  %li.group
    %img{ :src => "https://si0.twimg.com/profile_images/1514844462/charles_web_2_normal.jpg", :width => "16", :height => "16" }
    %span
      %strong
        Charles Demers
      — Javascript OOP
  %li.group
    %img{ :src => "https://si0.twimg.com/profile_images/1419502942/Untitled-3_normal.png", :width => "16", :height => "16" }
    %span
      %strong
        Samuel Garneau
      — Démonstration Rack Middleware
  %li.group
    %img{ :src => "https://si0.twimg.com/profile_images/780435350/6240_139454607906_723872906_3271730_5845230_n_normal.jpg", :width => "16", :height => "16" }
    %span
      %strong
        Alain Gilbert
      — HTML5 : Canvas API &amp; animations
  %li.note
    %p Le volet “discussion” se servira de ces présentations pour démarrer des conversations, mais n’importe quel autre sujet relié au code pourra être abordé : Python, TDD, node.js, C++, PHP, Ruby, Haskell, etc.

%h2 L’endroit
%p Le premier évènement se tiendra à l’<a href="http://abri.co/">Abri.Co</a>, au <a href="http://maps.google.ca/maps?f=q&hl=fr&q=2327+Boulevard+du+Versant+Nord,+QC+G1N+4G2">335 Rue Saint-Joseph Est</a>, à Québec. Wi-fi et électricité fournie. Vous pouvez amener des éléments nécessaires à votre confort (nourriture, etc.).

%h2 Inscription
%p Les inscriptions seront ouvertes vendredi le 9 septembre via <a href="http://opencode-1.eventbrite.com">EventBrite</a>.

%h2 Informations
%p.small Pour plus d’informations, vous pouvez écrire à <code>info</code>, suivi du symbole habituel puis du nom de domaine actuel.

%hr
%footer
  OpenCode est un évènement organisé dans les temps libres de <a href="https://twitter.com/JimmyBourassa">Jimmy Bourassa</a>, <a href="https://twitter.com/frederickdubois">Frédérick Dubois</a>, <a href="https://twitter.com/garno">Samuel Garneau</a> et <a href="https://twitter.com/remi">Rémi Prévost</a>, dans le but de permettre à la communauté de développeurs de Québec de s’épanouir. Oui, il y a un <em>easter egg</em>.
