!!!
%html
  %head
    %meta{ :charset => "UTF-8" }
    %title OpenCode Québec
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "/css/screen.css?v=20120307" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Hammersmith+One&v" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&v1" }
    %link{ :type => "image/png", :rel => "shortcut icon", :href => "/favicon.png" }
    %meta{ :name => :viewport, :content => "width=600" }
    <script type="text/javascript"> var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-24416048-1']); _gaq.push(['_trackPageview']); (function() { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })(); </script>
  %body
    %section#wrap
      %h1.group
        %a{ :href => "/" }
          OpenCode
      %p.subtitle <small>Prochaine édition :</small> À déterminer — <a href="#talk-proposal">Proposez une présentation!</a>
      %h2 Le concept
      %p Un OpenCode est un évènement sans prétention, amical et informel qui s’adresse aux développeurs et programmeurs. <strong class="important">Si votre métier ne consiste pas à écrire du code, vous n’y trouverez probablement pas votre compte.</strong> Gens de marketing, de développement des affaires, de SEO, de médias sociaux… cet évènement n’est pas pour vous!
      %p.small La soirée se déroule en trois parties : <em>Présentations</em>, <em>discussion</em> et <em>code</em>. Courtes présentations de 15-20 minutes sur des sujets reliés à la programmation (<em>ie.</em> montrez-nous du code!). Ensuite, discussions thématiques animées par les présentateurs pour approfondir leur sujet. Par la suite, les participants peuvent discuter et échanger lignes de code, concepts et idées jusqu’à tard le soir…
      %p.small Au cours de la soirée, un défi est également lancé — un algorithme à produire, un easter egg à découvrir, un casse-tête à déchiffrer, etc. Tout pour favoriser une saine compétition dans la communauté!

      %h2 L’endroit
      %p L’évènement se tient à l’<a href="http://abri.co/">Abri.Co</a>, au <a href="http://g.co/maps/unsb">335 Rue Saint-Joseph Est #500</a>, à Québec. Wi-fi et électricité fournie. Vous pouvez amener des éléments nécessaires à votre confort (nourriture, breuvages, etc.).

      %h2#talk-proposal Proposer une présentation
      %p.small Si vous êtes motivés et que vous désirez partager avec la communauté votre expérience avec une technologie, un langage de programmation, une librairie, un logiciel ou autres, vous pouvez vous proposer comme présentateur pour une prochaine édition en communiquant par courriel (voir la section <em>Informations</em>) ou via <a href="https://twitter.com/opencodeqc">Twitter</a>. Pas besoin d’être un expert, simplement d’être passionné!

      %h2 Informations
      %p.small Pour plus d’informations, vous pouvez écrire à <code>info</code>, suivi du symbole habituel puis du nom de domaine actuel. Vous pouvez également nous suivre sur Twitter au <a href="https://twitter.com/opencodeqc">@opencodeqc</a>.

      .past-talks
        %h2 Éditions passées

        %h3 Troisième édition (8 mars 2012)
        %ul.talks
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/mgagnon_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/mgagnon" }
                  Martin Gagnon
              — Comment écrire du code sans faille dans un langage inconnu
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/ngarneau_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/nGarneau" }
                  Nicolas Garneau
              — Cassandra, Hadoop &amp; Pig
          %li.group
            %img{ :src => "https://si0.twimg.com/profile_images/695970164/leo_small_normal.jpg", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/renaudl" }
                  Léo Renaud-Allaire
              — Browser’s File Reader API

        %h3 Deuxième édition (1<sup>er</sup> décembre 2011)
        %ul.talks
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/rafbm_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/rafBM" }
                  Rafaël Blais Masson
              — DOM… avec pas de jQuery!
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/jmlacroix_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/jmlacroix" }
                  Jean-Michel Lacroix
              — Introduction à la programmation fonctionnelle avec Haskell
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/antoineleclair_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/AntoineLeclair" }
                  Antoine Leclair
              — Les tests
          %li.group
            %img{ :src => "http://gregsadetsky.com/public/img/greg-sadetsky.png", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "http://gregsadetsky.com/" }
                  Greg Sadetsky
              — PiCloud

        %h3 Première édition (29 septembre 2011)
        %ul.talks
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/charles_demers_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/charles_demers" }
                  Charles Demers
              — Javascript OOP
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/garno_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/garno" }
                  Samuel Garneau
              — Démonstration Rack Middleware
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/alain_gilbert_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/alain_gilbert" }
                  Alain Gilbert
              — HTML5 : Canvas API &amp; animations

        %h3 Édition bêta (28 juillet 2011)
        %ul.talks
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/jimmybourassa_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/JimmyBourassa" }
                  Jimmy Bourassa
              — Node.js
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/bechhun_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/bechhun" }
                  Bernard Chhun
              — Django &amp; Buildout
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/frederickdubois_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/frederickdubois" }
                  Frédérick Dubois
              — Amazon SES
          %li.group
            %img{ :src => "http://img.tweetimag.es/i/remi_m", :width => "16", :height => "16" }
            %span
              %strong
                %a{ :href => "https://twitter.com/remi" }
                  Rémi Prévost
              — Haml &amp; Sass

      %hr
      %footer
        OpenCode est un évènement organisé dans les temps libres de <a href="https://twitter.com/JimmyBourassa">Jimmy Bourassa</a>, <a href="https://twitter.com/frederickdubois">Frédérick Dubois</a>, <a href="https://twitter.com/garno">Samuel Garneau</a> et <a href="https://twitter.com/remi">Rémi Prévost</a>, dans le but de permettre à la communauté de développeurs de Québec de s’épanouir.
