!!!
%html
  %head
    %title=@title
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "/css/screen.css" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Hammersmith+One&v" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&v1" }
  %body
  %section#wrap
    %h1.group <span>O</span>pen<span>C</span>ode Québec
    %p.subtitle 28 juillet 2011 — 18h à 23h
    =yield
