!!!
%html
  %head
    %title=@title
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "/css/screen.css" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Hammersmith+One&v" }
    %link{ :type => "text/css", :rel => "stylesheet", :media => :screen, :href => "http://fonts.googleapis.com/css?family=Lato:light,regular,regularitalic,lightitalic,bold&v1" }
    %link{ :type => "image/png", :rel => "shortcut icon", :href => "/favicon.png" }
    %meta{ :name => :viewport, :content => "width=600" }
  %body
    %section#wrap
      %h1.group
        <span>O</span>pen<span>C</span>ode Québec
      %p.subtitle <small>Première édition (beta) :</small> <acronym title="2011-07-28T18:00:00-0400">28 juillet 2011</acronym> — 18h à 23h
      =yield
