#wrap
  %dl
    %dt Tobias Fünke
    %dd
      %blockquote
        %p Michael if I may take off my pants and pull my analrapist stocking over my head, I think George Michael may be suffering from what we in the soft-sciences call “Obsessive Compulsive Disorder”, or the “The O.C. Disorder”.
    %dt Michael
    %dd
      %blockquote
        %p Don’t call it that.
