@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin border-radius-all($radius_top_left, $radius_top_right, $radius_bottom_right, $radius_bottom_left) {
  border-radius: $radius_top_left $radius_top_right $radius_bottom_right $radius_bottom_left;
  -moz-border-radius: $radius_top_left $radius_top_right $radius_bottom_right $radius_bottom_left;
  -webkit-border-top-right-radius: $radius_top_right;
  -webkit-border-bottom-right-radius: $radius_bottom_right;
  -webkit-border-bottom-left-radius: $radius_bottom_left;
  -webkit-border-top-left-radius: $radius_top_left;
}

@mixin gradient($start, $end) {
  background-color: $start;
  background-image: -moz-linear-gradient(top, $start, $end);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, $start),color-stop(1, $end));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#{$start}', EndColorStr='#{$end}')";
}

@mixin box-shadow($x, $y, $size, $color) {
  -moz-box-shadow: $x $y $size $color;
  -webkit-box-shadow: $x $y $size $color;
  box-shadow: $x $y $size $color;
}

@mixin transition($data) {
  transition: $data;
  -webkit-transition: $data;
  -moz-transition: $data;
}

@mixin medium-device {
  @media screen and (max-width: 660px) {
    @content;
  }
}

@mixin small-device {
  @media screen and (max-width: 420px) {
    @content;
  }
}
