@import url(asset-path("reset.css"));
@import "_mixins";

$principale: #123456;
$secondaire: rgb(223, 119, 94);
$font_hammersmith: "Hammersmith", Georgia, "Times new Roman", Times, serif;
$font_lato: "Lato", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;

html { height: 100%; }
html { font-size: 62.5%; }

.group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .group {display: inline-block;}
/* Hides from IE-mac \*/ * html .group {height: 1%;} .group {display: block;} /* End hide from IE-mac */

body {
  background: $principale;
  color: #fff;
  font-size: 160%;
  line-height: 1.5;
  border-top: 4px solid $secondaire;
  font-family: $font_lato;
}

#wrap-outer {
  padding: 50px 40px 60px;
}

#lang {
  background: rgba(0,0,0,0.25);
  text-align: center;
  padding: 7px 0;
  font-size: 80%;

  a {
    font-weight: normal;
    font-weight: 300;
    border: none;
  }
}

ul, ol, p {
  margin: 0 0 0.75em;
}

hr {
  display: none;
}

img {
  border: none;
}

sup {
  font-size: 75%;
  vertical-align: super;
  line-height: 1.1;
}

.signup a {
  background: darken($secondaire, 12%);
  color: #fff;
  font-weight: bold;
  display: inline-block;
  padding: 2px 8px;
  @include border-radius(3px);
  margin: 0 2px 0 2px;
  font-size: 95%;

  &:hover {
    background: darken($secondaire, 20%);
  }
}

ul.talks {
  li {
    position: relative;
    color: rgba(255,255,255,0.5);
    margin: 0 0 6px;

    span {
      color: rgba(255,255,255,1);
      float: left;
      padding: 0 0 0 24px;

      strong {
        font-weight: 300;

        a {
          font-weight: normal;
          color: rgba(255,255,255,1);
        }
      }
    }

    .url {
      background: asset-url("ico-url.gif") no-repeat 0 50%;
      padding: 0 0 0 13px;
      border: none;
      margin: 0 0 0 3px;
      opacity: 0.5;
      font-size: 90%;

      &:hover {
        opacity: 1;
      }
    }

    code {
      font-size: 90%;
    }

    img {
      position: absolute;
      top: 0; left: 0;
      margin: 5px 0 0;
      @include border-radius(2px);
    }

    &.note {
      font-size: 85%;
    }

    &.tag-team {
      span {
        padding-left: 48px;
      }

      img:nth-child(2) {
        left: 24px;
      }
    }
  }
}

small {
  font-size: 85%;
}

.past-talks .talks {
  font-size: 85%;
  margin-bottom: 15px;
}

a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255,255,255,0.2);

  &:hover {
    color: rgba(255,255,255,0.9);
  }
}

h1 {
  font-size: 220%;
  font-weight: normal;
  color: #fff;
  margin: 0 0 15px -12px;

  a {
    text-decoration: none;
    border: none;
    width: 326px;
    height: 85px;
    display: block;
    text-indent: -9999px;
    background: asset-url("img-logo.png");
    @include transition(background 0.2s linear);

    &:hover {
      background: asset-url("img-logo-glow.png");
      img {
        display: none;
      }
    }
  }
}

p.subtitle {
  color: rgba(255,255,255,0.9);

  small {
    font-size: 90%;
    color: rgba(255,255,255,0.5);
  }
}

h2 {
  font-size: 130%;
  font-weight: 400;
  color: rgba(255,255,255,0.5);
  margin: 20px 0 3px;
  font-family: $font_hammersmith;

  span {
    color: rgba(255,255,255,0.3);
  }
}

h3 {
  font-size: 95%;
  font-weight: 300;
  color: rgba(255,255,255,0.4);
  margin: 0 0 5px;
  font-family: $font_lato;
}

#wrap {
  font-weight: 300;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  max-width: 600px;
}

strong {
  font-weight: 400;

  &.important {
    color: $secondaire;
  }
}

code {
  color: rgba(255,255,255,0.5);
}

p.small {
  font-size: 90%;
  line-height: 1.6;
}

p.register {
  margin-top: 1.2em;

  a {
    display: block;
    float: left;
    @include gradient(#ff711e, #ff5804);
    border: 2px solid rgba(0,0,0,0.3);
    color: #fff;
    font-weight: bold;
    padding: 2px 12px;
    font-size: 95%;
    @include border-radius(5px);
  }

  span {
    float: left;
    padding: 4px 0 0 6px;
    color: rgba(255,255,255,0.9);
    font-size: 90%;
  }
}

#newsletter {
  input {
    float: left;
    padding: 7px 6px 7px 9px;
    width: 200px;
    background: #fff;
    border: none;
    @include border-radius-all(2px, 0, 0, 2px);
    margin: 0;
  }

  button {
    float: left;
    cursor: pointer;
    @include border-radius-all(0, 2px, 2px, 0);
    background: darken($principale, 10%);
    color: #fff;
    border: none;
    padding: 6px 12px;
    border: 1px solid #fff;
    margin: 0;
  }
}

footer {
  margin: 60px auto 0 auto;
  border-top: 1px dotted rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.2);
  font-size: 85%;
  padding: 15px 0 0;
  font-weight: 300;

  a {
    color: rgba(255,255,255,0.4);
    border-bottom: none;
  }
}
