@import url(asset-path("reset.css"));
@import "_mixins";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: asset-url("bg-body.jpg") fixed no-repeat 50% 50%;
  background-size: cover;
  color: #fff;
  font-family: "Lato", Helvetica, sans-serif;
  font-size: 160%;
  line-height: 1.4;
  font-weight: 300;
  padding: 0 30px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
  border-bottom: 1px dotted rgba(255,255,255,0.2);

  &:hover {
    color: rgba(255,255,255,0.9);
  }
}

h2 {
  font-size: 120%;
  margin: 0 0 7px;
  padding: 0 0 7px;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

#wrap {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

header {
  padding: 50px 0 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 150%;

  a {
    border: none;

    img {
      display: inline-block;
      width: 100%;
      max-width: 396px;
    }
  }
}

footer {
  color: rgba(255,255,255,0.5);
  font-size: 85%;
  padding: 30px 0 40px;
  text-align: center;

  p {
    display: inline-block;
    width: 50%;
    margin: 0 0 15px;
    min-width: 300px;
    &:last-child { margin-bottom: 0; }
  }
}

#next {
  margin: 0 0 45px 0;
  font-size: 0;
  text-align: center;

  .next-wrapper {
    text-align: center;
    font-size: 0;
    background: rgba(0,0,0,0.4);
    display: inline-block;
    @include border-radius(5px);
    padding: 14px 18px 20px;

    & > p {
      font-size: 16px;
      display: block;
      margin: 0 0 20px;
    }
  }

  .register {
    margin: 0 0 0 50%;
    display: inline-block;
    width: 50%;

    @include medium-device {
      width: 100%;
      margin: 0;
    }

    a {
      display: inline-block;
      @include gradient(#ff711e, #ff5804);
      border: 2px solid rgba(0,0,0,0.3);
      color: #fff;
      font-weight: bold;
      padding: 8px 11px;
      @include border-radius(5px);
      font-size: 16px;
      vertical-align: middle;
    }
  }

  .talks {
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    width: 50%;
    margin: 0 -50% 0 0;

    @include medium-device {
      width: 100%;
      margin: 0 0 20px;
    }

    p {
      display: block;
      margin: 0 0 10px;
      font-size: 90%;

      a {
        border: none;
        color: #fff;
      }
    }

    ul {
      display: inline-block;
      vertical-align: middle;

      li {
        display: inline-block;
        position: relative;

        a {
          display: inline-block;
          border: none;
          padding: 0 10px 0 0;

          &:hover {
            span {
              display: block;
            }
          }
        }

        &:last-child a {
          padding-right: 0;
        }

        img {
          @include border-radius(3px);
        }

        span {
          display: none;
          position: absolute;
          background: rgba(0,0,0,0.8);
          font-size: 80%;
          font-weight: 400;
          padding: 3px 6px;
          @include border-radius(3px);
          top: -10px;
          left: 16px;
          white-space: nowrap;
          z-index: 1000;
        }
      }
    }
  }
}

#infos {
  vertical-align: top;
  margin: 0 0 20px;
  font-size: 0;

  #concept {
    vertical-align: top;
    display: inline-block;
    width: 47.5%;
    margin-right: -47.5%;
    font-size: 16px;
  }

  #misc-infos {
    vertical-align: top;
    display: inline-block;
    margin-left: 52.5%;
    font-size: 16px;
  }

  @include medium-device {
    #concept { width: 100%; margin-right: 0; }
    #misc-infos { margin-left: 0; }
  }

  p {
    margin: 0 0 15px;

    &.small {
      font-size: 90%;
    }
  }
}

#past {
  font-size: 0;

  h2 {
    font-size: 19px;
    margin-bottom: 12px;
  }

  & > ul > li {
    vertical-align: top;
    font-size: 16px;
    width: 31%;
    margin: 0 3.5% 20px 0;
    display: inline-block;

    @include medium-device {
      width: 100%;
    }

    &:last-child { margin-right: 0; }

    h3 {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 80%;
      color: rgba(255,255,255,0.75);
      margin: 0 0 10px;
      background: rgba(0,0,0,0.2);
      padding: 5px 7px;
      @include border-radius(3px);

      span {
        font-weight: 300;
        color: rgba(255,255,255,0.6);
      }
    }

    p.notice {
      font-style: italic;
      font-size: 90%;
    }

    ul {
      li {
        font-size: 0;
        margin: 0 0 12px;

        &:last-child {
          margin-bottom: 0;
        }

        & > a {
          border: none;
        }

        img {
          display: inline-block;
          vertical-align: top;
          @include border-radius(3px);
          margin: 0 -48px 0 0;
        }

        .talk-infos {
          display: inline-block;
          vertical-align: top;
          margin: -1px 0 0 58px;
          font-size: 14px;

          strong {
            color: rgba(255,255,255,0.6);
            display: block;
            font-size: 90%;
          }
        }

        .url {
          background: asset-url("ico-url.gif") no-repeat 0 50%;
          font-weight: 300;
          padding: 0 0 0 13px;
          border: none;
          margin: 0 0 0 3px;
          opacity: 0.2;
          font-size: 90%;
          color: #fff;

          &:hover {
            opacity: 0.8;
          }
        }

        &:hover .url {
          display: inline;
        }
      }
    }
  }
}
